
*{
    ---head-one : normal;
    ---head-two : italic;
    ---body-normal : normal;
    ---head-one-size : 25px;
    ---head-two-size : 18px;
    ---body-normal-size :14px;
    ---primary:#ff0000;
    ---secondary: green;
    ---text-color:white;
    ---bg-color: black;
}

h1,p,a {
    background-color: var(---bg-color);
}
h1 {
    color:var(---primary);
    font-size :var(---head-one-size);
    font-style: var(---head-one);
    }

    h1:hover {
    color:var(---secondary);
    font-size :var(---body-normal-size);
    font-style: var(---head-two);
    cursor:pointer

    }
    
    .head-one{
        color:var(---secondary);
        font-size:var(---body-normal-size);
        font-style: var(---head-two);
    }
    
    #head-one{
        color:var(---bg-color);
        font-size:var(---head-one-size);
        font-style: var(---body-normal);
    }

a[target]{
    background-color: red;
    text-decoration: none;
    color: green;
    font-size: 39px;
    font-style:var(--font-style);
}
 